* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navegacion{
    width: 100%;
    margin: 0px;
    background: #ffffff;
    padding: 0px;
    position: fixed;
    top: 0;
}

#log {
    width: 200px;
    margin-right: 300px;
    margin-left: 50px;
}

.icons{
    width: 20px;
}

.navegacion ul{
    list-style: none;
    position: absolute; 
    /* este position absolute era necesario porque al colocar un position absolute
     en .flechas imagen para que permanezcan en el espacio de primera sesión se suben hasta
     arriba y con un position absolute desde aqui respeta este espacio*/
    background-color: #ffffff;
    width: 100%;
}

.menu>li{
    display: inline-block;
    color: #3D3DAD;
    font-family: 'News Cycle', sans-serif;
}


.menu>li>a{
    display: block;
    padding: 15px 20px;
    color: #3D3DAD;
    font-family: 'News Cycle', sans-serif;
    text-decoration: none;
}

.letrapersonal{
    font-weight:bolder;
    margin: 18px 5px 5px 16px;
}
/*SUBMENU*/

.submenu{
    position: absolute;
    background-color: #ffffff;
    display: none;
    width: 100%;

}

.submenu li a{
    display: block;
    padding: 10px 15px 8px 15px;
    color: #3D3DAD;
    font-family: 'News Cycle', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block;
}

/* primera seccion */

#secuno{
    margin: auto;
    margin-top: 75px;
    height: 610px;
    overflow: hidden;
}

#compramas{
    position: relative;

}

.itemcarrusel{
    width: 100%;
    top: 30px;
}

.tamañoimagen{
    width: 100%;
}

.flechaimagen{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 350px;
    display: flex; /*coloca las letras una al lado del la otra*/
    justify-content: space-between;
    list-style: none;
    color: #5e5b86;
}
