* {
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

header #navegacion .menu{
    width: 100%;
    margin: auto;
    background: #fcfcfc;
    position: fixed;
    top: 0;
    z-index: 20;
    
}

#navegacion ul{
    width: 90%;
    list-style: none;
}

.nav-logo{
    width: 40%;    
}
.menu>li>a{
    width: 90%;
    list-style: none;
    display: block;
    padding: 1em 1em;
    color: #3D3DAD;
    font-family: 'News Cycle', sans-serif;
    font-weight: 900;
    text-decoration: none;
}

.menu>li{
    display: inline-block;
    color: #3D3DAD;
    font-family: 'News Cycle', sans-serif;
}

.menu>li>a:hover{  
    font-weight: 900;
    opacity: 90%;
}


#log {
    width: 40%;
    margin-right: 20%;
    margin-left: 1%;
}

.icons{
    width: 1.5em;
}

.letrapersonal{
    font-weight:bolder;
    margin: 1em 0.5em 0.5em 1em;
}

.li-entra-buton{
    display: block;
    width: 20%;
    opacity: 100%;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 0.1em;
    background-color: #5b5bd1;
    color: #fcfcfc;
}

/*SUBMENU*/

.submenu{
    position: fixed;
    background-color: #fcfcfc;
    display: none;
    width: 100%;
    margin-left: -2em;
    padding-bottom: 3em;
    padding-top: 1.5em;
    opacity: 90%;
}

.submenu li a{
    padding: 0;
    color: #3D3DAD;
    font-family: 'News Cycle', sans-serif;
    text-decoration: none;
    margin: auto;
    margin-left: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

.navegacion-ul-hover{
    color: #3D3DAD;
    line-height: 0.3em;

}

.navegacion-ul-hover:hover{
    color: #2e2e8b;
    font-weight: 900;
    border-bottom: 1px solid #5b5bd1;
    padding-left: 0.25em;
    padding-right: 0.25em;
  
}

/*Este hover hace que el texto aparezca*/
.menu li:hover .submenu{
    display: block;
}

/*SECCION UNO CARRUSEL*/

.secuno {
    width: 100%;
    margin: auto;
    margin-top: -3%;
    position: relative;
    top: 5em;
}
.secuno-buton-comprar{
    position: absolute;
    margin-top: 25%;
    margin-left: 44%;
    padding: 0.5em;
    padding-right: 1%;
    padding-left: 1%;
    border: 0px solid;
    background-color: #fcfcfc;
    color: #2e2e8b;
    font-family: 'Nixie One', cursiva;
    font-size: 1.7em;
    border-radius: 0.1em;

}

.secuno-buton-comprar:hover{
    opacity: 90%;
    transition: all;
    color: #5b5bd1;
}

/*TEXTO PRENDAS QUE AMAMOS*/

.div-h1{
    width: 100%;
    position: relative;  
    
    
}


.h1-a-text{ 
    width: 100%;
    display: inline-block;
    margin: auto;
    font-size: 222%;
    text-align: center;
    text-decoration: none;
    color: #3D3DAD;

}

.h1text{
    padding: 3em;
    padding-top: 3em;
    padding-bottom: 0.3em;       
    font-family:  'Nixie One', cursiva;
}

@media all and (min-width:200px) and (max-width:400px){
    .h1-a-text{
        font-size: 100%;
    }
}



/*SECTION 2 CARRUSEL DE LINEA DE IMAGENES*/

.secdos{
    width: 80%;
    margin: auto;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3em;
}


/*SECTION 3*/

.sectres{
    width: 100%;
    position: relative;
    display: flex;
    display: block;
    margin: auto;
    justify-content: center;
}

.sectres-gif{
    width: 45%;
    margin-left: 5.5%;
}
#spotify{ 
    width: 43%;   
    margin-top: -114.5%;
    margin-left: 51%;   
   
}

#verde{
    width: 43%;
    margin-top: -56.9%;
    margin-left: 51%;   
}

.textoverde{
    width: 43%;
    position: relative;
    display: block;   
    margin-left: 51%;
    margin-top: -10%;
    margin-bottom: 2em;
    padding: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-size: 95%;
    font-weight: 600;
    line-height: 1.3em;
    color: rgb(150, 150, 150);
    border: 1px solid #7add67;
    border-style: dotted;
    border-radius: 0.1em;

}

/*SECTION CUATRO SET DE 3 IMAGENES SECCUATRO*/

.seccuatro{
    width: 90%; 
    /*si ocurren cambios es que sin queres elimine este display:flex*/
    display: flex;
    margin: auto;
}

.articulo4{
    position: relative;
    width: 60%;
    padding: 0;
    justify-content: center;
    text-align: center;
}

.tamañoimagenes4{
    width: 95%;
    justify-content: center;
    padding: 0;
}


.textocuatro{
    width: 95%;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-size: 95%;
    font-weight: 600;
    color: rgb(150, 150, 150);
    line-height: 1.3em;
    border: 1px solid #7add67;
    border-style: dotted;
    border-radius: 0.1em;

}

@media all and (min-width:200px) and (max-width:440px){
    .seccuatro{
        display: block;
    }
}

/* BOTONES */

.seccinco{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 5%;
    padding: 2em;
}

.decoracionboton{
    background-color: #ffffff;
    text-decoration: none;
    border: 1px solid #3D3DAD ;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.6em;
}

.decoracionboton:hover{ 
    border: 2px solid #2e2e8b;
    transition: background-color 1s ease;

}

.botones5{
    width: 80%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    
}
/*SECCION 6*/

.secseis{
    width: 100%;
    margin: auto;
    position: relative;
}
#section6-img-enlace{
    width: 4%;
    margin-left: 46%;
    justify-content: center;
    align-items: center;
}
#colorcambio{
    fill: #5b5bd1;
}
#colorcambio:hover{
    fill:#2e2e8b;
}


/*footer*/

.footer-class{
    width: 100%;
    position: relative; 
    margin: auto;
    padding-bottom: 4em;
    background-color: #5b5bd1;
    justify-content: left;
    
}
/* da display */
.ul-footer{
    display: flex;
    text-decoration: none;
    margin: 1em;
    
}


.li-ul-lista{
    text-decoration: none;
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 1em;
    font-family: 'News Cycle', sans-serif;
    color: #fcfcfc
}

#footer-logo-blanco{
    width: 6em;
    margin-left: -2em;
}

.img-iconos{
    width: 1.5em;
    padding: 0;
    margin-right: -1em;
    margin-left: -1em;
}

#footer-logospagos{
    width: 8em;
}

@media all and (min-width:200px) and (max-width:460px){
    .ul-footer{
        display:block;
    }

}
/*FOOTER 2 */

.footer-text-final{
    display: flex;
    width: 60%;

}
#footer-table{
    width: 80%;
    justify-content: left;
    display: block;
}

.footer-text-final{
    width: 80%;
    padding: 0;
    justify-content: left;
}
.footertextfinal-p{
    width: 100%;
    padding: 0;
    margin-left: -18%;
    margin-top: -2%;
    margin-right: -40%;
    
}

.p-textdecoration{
    text-decoration: none;
    list-style: none;
}

.p-texto{
    width: 100%;
    color: #ffffff;
    font-family: 'News Cycle', sans-serif;
    line-height: 0.5em;
    font-size: 0.9em;
}

@media all and (min-width:200px) and (max-width:400px){
    .p-texto{
        font-size: 0.5em;
    }
}

.footertextfinal-buton{
    width: 80%;
    display: flex;
    margin-top: 1%;
}

@media all and (min-width:200px) and (max-width:1070px){
    .footertextfinal-buton{
        display: block;
        margin-left: -30%;
        margin-top: 14em;

    } 


}
.footer-buton1{
    width: 100%;
    padding: 1em;
    margin: 1em;
    margin-top: 1em;
    text-decoration: none;
    background-color: #5b5bd1;
    border: 1px solid #fcfcfc;
    color: #fdfdfd;
    font-family: 'Nixie One', cursiva;
    font-size: 1em;
    font-weight: 500;
}

.footer-buton1:hover{
    background-color: #343496;
    border: 1px solid #fcfcfc;
    color: #fcfcfc;
    font-family: 'Nixie One', cursiva;
    font-weight: 500;

}

.footer-tbody1{
    padding-left: 1em;
    margin-left: 1em;
}


.textoprueba{
    padding-left: 1em;
    color: #fcfcfc;
    font-family: 'News Cycle', sans-serif ;
}

#footer-table{
    margin-top: 2em
}


